@font-face {
    font-family: "Girassol-Regular", sans-serif;
    src: url("../fonts/Girassol-Regular.woff2") format("woff2"), url("../fonts/Girassol-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3l2ezi");
  src: url("../fonts/icomoon.eot?3l2ezi#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?3l2ezi") format("truetype"), url("../fonts/icomoon.woff?3l2ezi") format("woff"),
    url("../fonts/icomoon.svg?3l2ezi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-th:before {
    content: "\f00a";
}

.icon-credit-card:before {
    content: "\f09d";
}

.icon-credid-card-alt:before {
    content: "\f283";
}

.icon-home:before {
    content: "\f015";
}

.icon-wrench:before {
    content: "\f0ad";
}

.icon-list-alt:before {
    content: "\f022";
}

.icon-users:before {
    content: "\f0c0";
}

.icon-gears:before {
    content: "\f085";
}

.icon-caret-right:before {
    content: "\f0da";
}

